div{
    min-width: 40%;
    text-align: center;

}
div.left , div.right {
    float: left;
    width:49%;
}

h1 {
    text-align: center;
<<<<<<< HEAD
} 
=======
}
>>>>>>> fefe01b1c6f0aca7ff3601da3d62cd930050f636
